<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-GB"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-GB"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-GB">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="dns-prefetch" href="//ajax.googleapis.com">

  <title>Spotify UI</title>

  <link href="css/main.css" rel="stylesheet">

  <!-- ED: Styles for re-organising -->
  <link href="css/toastr.css" rel="stylesheet">
  <link href="css/jquery.simple-text-rotator.css" rel="stylesheet" />

  <!-- REMEMBER to add a description -->
  <meta name="description" content="">

  <!-- tell devices we are responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- REMEMBER add in a custom modernizr script here -->
  <script src="js/vendor/modernizr.js"></script>

  <!-- Angular js application scripts, required before the html is declared. -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
  <script src="js/application/Jukebox.js"></script>
  <script src="js/application/JukeboxController.js"></script>
  <script>
    WebFontConfig = {
      google: { families: [ 'Bitter::latin', 'Raleway::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
</head>
<body>

  <svg version="1.1" width="0" height="0" class="visuallyhidden">
    <g id="search-icon">
      <polygon class="st1" points="29.3,32.3 20.8,23.8 23.8,20.8 32.3,29.3" />
      <ellipse class="st0" cx="15.9" cy="15.9" rx="8.2" ry="8.2" />
    	<circle class="st0" cx="20" cy="20" r="19" />
    </g>
  </svg>

  <div class='full-container' id='Jukebox' ng-app='Jukebox' ng-controller='JukeboxController'>

    <div id="push-menu" class="page push-menu closed">
      <form class="main-search">
        <div class="form-group">
          <label for="track-search" class="visuallyhidden">Search by artist or track name</label>
          <input type="search" name="track-search" id="track-search" class="main-search__input-search" placeholder="Artist or track" ng-model="query" ng-change="search()" />
        </div>
      </form>
      <ul id="track-search-results" class="main-search__results" ng-hide>
        <li class="main-search__result-item" ng-repeat="result in results">
          <span>{{result.artists[0].name}} - {{result.name}}</span>
          <span ng-switch="inPlaylist(result)">
            <span ng-switch-when="false">
              <button type="button" ng-click="request(result)">request</button>
            </span>
            <span ng-switch-when="true">
              <button type="button" ng-click="voteUp(result)">vote up</button>
              <button type="button" ng-click="voteDown(result)">vote down</button>
            </span>
          </span>
          <img src="{{result.smallImage}}" alt="{{result.name}}"/>
        </li>
      </ul>
    </div>

    <div id="test" class="page push-content open">
      <div class="push-content-inner">

        <div class="album-cover mast-head">
          <div class="mast-head__centre">
            <h2 class="mast-head__title">Pssst...</h2>
            <div><strong id="listeners"></strong> is listening</div>
            <div id="history"></div>
          </div>
          <button id="show-search" class="show-search-button" title="Search music">
            <svg class="search-icon" viewbox="0 0 40 40">
              <use xlink:href="#search-icon" />
            </svg>
            <span class="visuallyhidden">Search music</span>
          </button>
        </div>

        <div class="album-cover" ng-hide>
          <img src="{{playing.extraLargeImage}}" alt="playing {{playing.name}} by {{playing.artists[0].name}}" />
          <div class="album-cover__details">
            <h3 class="album-cover__track">{{playing.name}}</h3>
            <h4 class="album-cover__artist">{{playing.artists[0].name}}</h4>
          </div>
        </div>

        <div class="album-cover" ng-hide ng-repeat="track in tracks | orderBy:['votes', 'order']:'reverse'">
          <img src="{{track.extraLargeImage}}" alt="{{playing.artists[0].name}} - {{playing.name}}" />
          <div class="album-cover__details">
            <h3 class="album-cover__track">{{track.name}}</h3>
            <h4 class="album-cover__artist">{{track.artists[0].name}}</h4>
            <h5 class="album-cover__rated">{{getListeners(track.rated, 3, 'rated')}}</h5>
            <h5 class="album-cover__slated">{{getListeners(track.slated, 3, 'slated')}}</h5>
          </div>
        </div>

      </div>
      <!--end push-content-inner -->
    </div>
    <!-- end push-content -->

  </div>
  <!-- end full-container -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script> !window.jQuery && document.write('<script src="js/vendor/jquery.js"><\/script>') </script>
  <script src="js/vendor/jquery.toastr.js"></script>
  <script src="js/vendor/jqery.simple-text-rotator.js"></script>
  <script src="js/main.js"></script>
</body>
</html>