/*
 * Styles for massive album art
 *
 */

album-cover {
  @at-root{
    .#{&} {
      position: relative;
      float: left;
      margin-bottom: 0;
      //border: .0625em solid $colourBlack;
      color: #FFF;
      background-color: #242424;
      background-color: rgba(36, 36, 36, .6);
      text-align: left;
      
      > img {
        width: 100%;
      }
    }
    .#{&}__details {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin: 0;
      padding: .5em;
      background-color: rgba(0,0,0,.7);
    }
    .#{&}__track,
    .#{&}__artist,
    .#{&}__rated,
    .#{&}__slated {
      margin: 0;
      padding: 0;
    }
  }
}