/*
 * Mast head styles
 */
 
mast-head {
  @at-root {
    .#{&} {
      padding-top: 24px;
      padding-top: 1.5rem;
      text-align: center;
    }
  }
}

.album-cover.mast-head {
  padding: 0;
  background-color: #FF622C;
  text-align: center;
}
.album-cover.mast-head .mast-head__title {
  position: relative;
  top: 50%;
  margin: 0;
  -webkit-transform: translatey(-50%);
  color: $colourWhite;
  text-shadow: 0 1px 1px #242424;

}