/*
 * typeahead specific styles for the search
 *
 */
 
main-search {
  @at-root {
    .#{&} {
      margin-bottom: 0;
      
      .form-group {
        margin-bottom: 0;
      }
    }
    .#{&}__input-search {
      width: -webkit-calc(100% - 14px);
      width:    -moz-calc(100% - 14px);
      width:         calc(100% - 14px);
      
      .mod-no-calc {
        position: relative;
        width: 80%;
      }
    }
    .#{&}__button-search {
      margin-left: -webkit-calc(100% - 65px);
      margin-left:    -moz-calc(100% - 65px);
      margin-left:         calc(100% - 65px);
    }
    .#{&}__results {
      list-style: none;
      padding-left: 0;
    }
    .#{&}__result-item {
      padding: .25em .375em;
      border-bottom: .0625em solid rgba(0,0,0,.2);
      color: $colourWhite;
    }
  }
}

