// colours
$colourBlack: #242424;
$colourWhite: #FFFFFF;
$colourBlue: #0000FF;

// base typography
$baseFontSize: 16;
$baseLineHeight: 1.5;

// IE column width function variables
$containerWidth: 884;
$columnMargin: 48;